<div>
  <div style="max-width: 200px; float:left;">
    <div style="float:left">
      <div>
        <div style="padding: 10px;">
          <%= render("new_sticky") %>
        </div>
      </div>
      <div><hr>
      </div>
      <div>Members
      </div>
      <div style="max-width: 140px;">
        <% users.each do |user| %>
          <%= render("member_in_member_list", :user => user) %>
        <% end %>
      </div>
    </div>
    <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
    </div>
  </div>
  <div style="float:left;">
    <% columns.each do |column| %>
      <%= render("column", :column => column) %>
    <% end %>
  </div>
</div>