<div style="max-width: 400px; float:left;">
  <div style="float:left">
    <div style="text-align: center">
      <%= column.name %>
    </div>
    <div><hr>
    </div>
    <div>
      <div style="padding: 10px;">
        <%= render("sticky") %>
      </div>
    </div>
  </div>
  <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
  </div>
</div>