<div style="width:120px; height:100px; background-color: #FFE373">
  <div style="width:120px; height:10px; background-color: #FCCA00">
  </div>
  <div>
    <div style="padding: 5px; height: 70px"> New Sticky
    </div>
    <div>
    </div>
  </div>
</div>