<div style="width:230px; height:175px; background-color: #FFE373">
  <div style="width:230px; height:20px; background-color: #FCCA00">
  </div>
  <div>
    <div style="padding: 5px; height: 95px">
      <%= sticky.details %>
    </div>
    <div>
      <% sticky.owners.each do |owner| %>
        <div style="float: right; margin: 2px">
          <%= render("member", :user => owner) %>
        </div>
      <% end %>
    </div>
  </div>
</div>