<div style="width:230px; height:175px; background-color: #FFE373">
  <div style="width:230px; height:20px; background-color: #FCCA00">
  </div>
  <div>
    <div style="padding: 5px; height: 95px">
      <%= sticky.details %>
    </div>
    <div>
      <div style="float: right; margin: 2px">
        <img src="http://gravatar.com/avatar/2fe381b816b40a33ac7f5e646e5f6efb?size=40" class="avatar"/>
      </div>
      <div style="float: right; margin: 2px">
        <img src="http://gravatar.com/avatar/2fe381b816b40a33ac7f5e646e5f6efb?size=40" class="avatar"/>
      </div>
    </div>
  </div>
</div>