<% if signed_in? %>

<div style="min-height: 500px; ">
  <%= render :partial => "board_mockup", :locals => {
    :columns => @columns, :users => @users } %>
</div>

<% else %>

<h1>Sample App</h1>
<p>
  This is the home page agile board application.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>